.nav-pills .nav-item .nav-link:not(.active) {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #fdfdfd;
    border-top: 1px solid #fdfdfd;
    border-left: 1px solid #fdfdfd;
    border-right: 1px solid #fdfdfd;
    border-radius: 15px 15px 15px 15px;
}

.nav-pills .nav-item .nav-link {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #111111;
    border-top: 1px solid #111111;
    border-left: 1px solid #111111;
    border-right: 1px solid #111111;
    border-radius: 15px 15px 15px 15px;
}
